{% extends 'base.html.twig' %}

{% block body %}
    <div class="s-container">
        <div class="character-show">
            <h1>{{ character.characterName }}</h1>
            {% if character.eidolons %}
                <div class="eidolons">
                    <h2>Eidolons</h2>
                    {% if character.eidolons.eidolonOne %}
                        {% for medium in character.eidolons.media|filter(medium => medium.imageRole == 'E1') %}
                            <img src="/uploads/{{ medium.filename }}" alt="">
                        {% endfor %}
                        <h3>Eidolon 1: {{ character.eidolons.eidolonOne|slice(0, 1)|join('') }}</h3>
                        <p>{{ character.eidolons.eidolonOne|slice(1, 1)|join('') }}</p>
                    {% endif %}
                    {% if character.eidolons.eidolonTwo %}
                        {% for medium in character.eidolons.media|filter(medium => medium.imageRole == 'E2') %}
                            <img src="/uploads/{{ medium.filename }}" alt="">
                        {% endfor %}
                        <h3>Eidolon 2: {{ character.eidolons.eidolonTwo|slice(0, 1)|join('') }}</h3>
                        <p>{{ character.eidolons.eidolonTwo|slice(1, 1)|join('') }}</p>
                    {% endif %}
                    {% if character.eidolons.eidolonThree %}
                        {% for medium in character.eidolons.media|filter(medium => medium.imageRole == 'E3') %}
                            <img src="/uploads/{{ medium.filename }}" alt="">
                        {% endfor %}
                        <h3>Eidolon 3: {{ character.eidolons.eidolonThree|slice(0, 1)|join('') }}</h3>
                        <p>{{ character.eidolons.eidolonThree|slice(1, 1)|join('') }}</p>
                    {% endif %}
                    {% if character.eidolons.eidolonFour %}
                        {% for medium in character.eidolons.media|filter(medium => medium.imageRole == 'E4') %}
                            <img src="/uploads/{{ medium.filename }}" alt="">
                        {% endfor %}
                        <h3>Eidolon 4: {{ character.eidolons.eidolonFour|slice(0, 1)|join('') }}</h3>
                        <p>{{ character.eidolons.eidolonFour|slice(1, 1)|join('') }}</p>
                    {% endif %}
                    {% if character.eidolons.eidolonFive %}
                        {% for medium in character.eidolons.media|filter(medium => medium.imageRole == 'E5') %}
                            <img src="/uploads/{{ medium.filename }}" alt="">
                        {% endfor %}
                        <h3>Eidolon 5: {{ character.eidolons.eidolonFive|slice(0, 1)|join('') }}</h3>
                        <p>{{ character.eidolons.eidolonFive|slice(1, 1)|join('') }}</p>
                    {% endif %}
                    {% if character.eidolons.eidolonSix %}
                        {% for medium in character.eidolons.media|filter(medium => medium.imageRole == 'E6') %}
                            <img src="/uploads/{{ medium.filename }}" alt="">
                        {% endfor %}
                        <h3>Eidolon 6: {{ character.eidolons.eidolonSix|slice(0, 1)|join('') }}</h3>
                        <p>{{ character.eidolons.eidolonSix|slice(1, 1)|join('') }}</p>
                    {% endif %}
                    <h2>Recommended stopping point for eidolons</h2>
                    <p>{{ character.eidolons.stopPoint|raw }}</p>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}