{% extends 'base.html.twig' %}

{% block body %}
    <div class='s-container'>
        <div class="lc-show">
            <div class="lc-basic-info">
                {% for medium in lightcone.media|filter(medium => medium.imageRole == 'Lc Splash Art') %}
                    <div class="lc-basic-info-splash">
                        <img src="/uploads/{{ medium.filename }}" alt="">
                    </div>
                {% endfor %} 
                <div class="lc-basic-info-text">
                    <h1>{{ lightcone.lcName }}</h1>
                    <div class="lc-basic-info-base-stats">
                        <h2>Base stats (level 80)</h2>
                        <div class="lc-base-hp">
                            <p>HP</p>
                            <p>{{ lightcone.lcBaseHp }}</p>
                        </div>
                        <div class="lc-base-atk">
                            <p>ATK</p>
                            <p>{{ lightcone.lcBaseAtk }}</p>
                        </div>
                        <div class="lc-base-def">
                            <p>DEF</p>
                            <p>{{ lightcone.lcBaseDef }}</p>
                        </div>
                    </div>
                    <h2>Story</h2>
                    <div>{{ lightcone.lcStory|raw }}</div>
                </div>
            </div>
            
            <h2>Skill</h2>
            <h3>{{ lightcone.lcSkillName }}</h3>
            <nav class="superimposition">
                <li class="superimposition-toggle" id="toggle-sone">S1</li>
                <li class="superimposition-toggle" id="toggle-stwo">S2</li>
                <li class="superimposition-toggle" id="toggle-sthree">S3</li>
                <li class="superimposition-toggle" id="toggle-sfour">S4</li>
                <li class="superimposition-toggle" id="toggle-sfive">S5</li>
            </nav>
            <div class="lightcone-superimposition open" id="superimposition-one">{{ lightcone.lcSkillOne|raw }}</div>
            <div class="lightcone-superimposition" id="superimposition-two">{{ lightcone.lcSkillTwo|raw }}</div>
            <div class="lightcone-superimposition" id="superimposition-three">{{ lightcone.lcSkillThree|raw }}</div>
            <div class="lightcone-superimposition" id="superimposition-four">{{ lightcone.lcSkillFour|raw }}</div>
            <div class="lightcone-superimposition" id="superimposition-five">{{ lightcone.lcSkillFive|raw }}</div>
        </div>
    </div>
{% endblock %}