{% extends 'base.html.twig' %}

{% block body %}
    <div class="lc-show {% if lightcone.lcRarity == "4-star"%}four-star {% elseif lightcone.lcRarity == "5-star" %}five-star {% elseif lightcone.lcRarity == "3-star" %}three-star{% endif %}">
        <div class="lc-basic-info">
            {% for medium in lightcone.media|filter(medium => medium.imageRole == 'Lc Splash art') %}
                <div class="lc-basic-info-splash-laptop">
                    <img src="/uploads/{{ medium.filename }}" alt="">
                    <div class="lc-path-rarity">
                        <div class="lc-path-div">
                            {% if lightcone.lcPath == "Abundance" %}
                                <img class="lc-path" src="{{ asset('images/Icon Path/Icon_Abundance.webp') }}" alt="icon for abundance path">
                            {% elseif lightcone.lcPath == "Destruction" %}
                                <img class="lc-path" src="{{ asset('images/Icon Path/Icon_Destruction.webp') }}" alt="icon for destruction path">
                            {% elseif lightcone.lcPath == "Erudition" %}
                                <img class="lc-path" src="{{ asset('images/Icon Path/Icon_Erudition.webp') }}" alt="icon for erudition path">
                            {% elseif lightcone.lcPath == "Harmony" %}
                                <img class="lc-path" src="{{ asset('images/Icon Path/Icon_Harmony.webp') }}" alt="icon for harmony path">
                            {% elseif lightcone.lcPath == "Nihility" %}
                                <img class="lc-path" src="{{ asset('images/Icon Path/Icon_Nihility.webp') }}" alt="icon for nihility path">
                            {% elseif lightcone.lcPath == "Preservation" %}
                                <img class="lc-path" src="{{ asset('images/Icon Path/Icon_Preservation.webp') }}" alt="icon for preservation path">
                            {% elseif lightcone.lcPath == "Remembrance" %}
                                <img class="lc-path" src="{{ asset('images/Icon Path/Icon_Remembrance.webp') }}" alt="icon for remembrance path">
                            {% elseif lightcone.lcPath == "The Hunt"%}
                                <img class="lc-path" src="{{ asset('images/Icon Path/Icon_The_Hunt.webp') }}" alt="icon for hunt path">
                            {% else %}
                                <img class="lc-path" src="{{ asset('images/Character_Unknown.webp') }}" alt="icon for unknown path">
                            {% endif %}
                        </div>
                        <div class="lc-rarity-div">
                            {% if lightcone.lcRarity == '3-star' %}
                                <img class="lc-rarity" src="{{ asset('images/Icon_3_Stars.webp') }}" alt="icon for 3 star light cones">
                            {% elseif lightcone.lcRarity == '4-star' %}
                                <img class="lc-rarity" src="{{ asset('images/Icon_4_Stars.webp') }}" alt="icon for 4 star light cones">
                            {% elseif lightcone.lcRarity == '5-star' %}
                                <img class="lc-rarity" src="{{ asset('images/Icon_5_Stars.webp') }}" alt="icon for 3 star light cones">
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %} 
            <div class="lc-basic-info-text">
                <h1>{{ lightcone.lcName }}</h1>
                {% for medium in lightcone.media|filter(medium => medium.imageRole == 'Lc Splash art') %}
                    <div class="lc-basic-info-splash-mobile">
                        <img src="/uploads/{{ medium.filename }}" alt="">
                        <div class="lc-path-rarity">
                        <div class="lc-path-div">
                            {% if lightcone.lcPath == "Abundance" %}
                                <img class="lc-path" src="{{ asset('images/Icon Path/Icon_Abundance.webp') }}" alt="icon for abundance path">
                            {% elseif lightcone.lcPath == "Destruction" %}
                                <img class="lc-path" src="{{ asset('images/Icon Path/Icon_Destruction.webp') }}" alt="icon for destruction path">
                            {% elseif lightcone.lcPath == "Erudition" %}
                                <img class="lc-path" src="{{ asset('images/Icon Path/Icon_Erudition.webp') }}" alt="icon for erudition path">
                            {% elseif lightcone.lcPath == "Harmony" %}
                                <img class="lc-path" src="{{ asset('images/Icon Path/Icon_Harmony.webp') }}" alt="icon for harmony path">
                            {% elseif lightcone.lcPath == "Nihility" %}
                                <img class="lc-path" src="{{ asset('images/Icon Path/Icon_Nihility.webp') }}" alt="icon for nihility path">
                            {% elseif lightcone.lcPath == "Preservation" %}
                                <img class="lc-path" src="{{ asset('images/Icon Path/Icon_Preservation.webp') }}" alt="icon for preservation path">
                            {% elseif lightcone.lcPath == "Remembrance" %}
                                <img class="lc-path" src="{{ asset('images/Icon Path/Icon_Remembrance.webp') }}" alt="icon for remembrance path">
                            {% elseif lightcone.lcPath == "The Hunt"%}
                                <img class="lc-path" src="{{ asset('images/Icon Path/Icon_The_Hunt.webp') }}" alt="icon for hunt path">
                            {% else %}
                                <img class="lc-path" src="{{ asset('images/Character_Unknown.webp') }}" alt="icon for unknown path">
                            {% endif %}
                        </div>
                        <div class="lc-rarity-div">
                            {% if lightcone.lcRarity == '3-star' %}
                                <img class="lc-rarity" src="{{ asset('images/Icon_3_Stars.webp') }}" alt="icon for 3 star light cones">
                            {% elseif lightcone.lcRarity == '4-star' %}
                                <img class="lc-rarity" src="{{ asset('images/Icon_4_Stars.webp') }}" alt="icon for 4 star light cones">
                            {% elseif lightcone.lcRarity == '5-star' %}
                                <img class="lc-rarity" src="{{ asset('images/Icon_5_Stars.webp') }}" alt="icon for 3 star light cones">
                            {% endif %}
                        </div>
                    </div>
                    </div>
                {% endfor %} 
                <div class="lc-basic-info-base-stats">
                        <h2>Base stats</h2>
                        <div class="lc-base-stats"> 
                            <div class="lc-base-hp">
                                <p>HP</p>
                                <p class="lc-base-stat-value">{{ lightcone.lcBaseHp }}</p>
                            </div>
                            <hr>
                            <div class="lc-base-atk">
                                <p>ATK</p>
                                <p class="lc-base-stat-value">{{ lightcone.lcBaseAtk }}</p>
                            </div>
                            <hr>
                            <div class="lc-base-def">
                                <p>DEF</p>
                                <p class="lc-base-stat-value">{{ lightcone.lcBaseDef }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="lc-story">{{ lightcone.lcStory|raw }}</div>
                </div>
            </div>
            <div class="skill">
                <div class="skill-superimposition">
                    <h2>{{ lightcone.lcSkillName }}</h2>
                    <nav class="superimposition">
                        <li class="superimposition-toggle active" id="toggle-sone">S1</li>
                        <li class="superimposition-toggle" id="toggle-stwo">S2</li>
                        <li class="superimposition-toggle" id="toggle-sthree">S3</li>
                        <li class="superimposition-toggle" id="toggle-sfour">S4</li>
                        <li class="superimposition-toggle" id="toggle-sfive">S5</li>
                    </nav>
                    <div class="lightcone-superimposition open" id="superimposition-one">{{ lightcone.lcSkillOne|raw }}</div>
                    <div class="lightcone-superimposition" id="superimposition-two">{{ lightcone.lcSkillTwo|raw }}</div>
                    <div class="lightcone-superimposition" id="superimposition-three">{{ lightcone.lcSkillThree|raw }}</div>
                    <div class="lightcone-superimposition" id="superimposition-four">{{ lightcone.lcSkillFour|raw }}</div>
                    <div class="lightcone-superimposition" id="superimposition-five">{{ lightcone.lcSkillFive|raw }}</div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}