{% extends 'base.html.twig' %}

{% block body %}
    <div class="lc-show {% if lightcone.rarity == "4-star"%}four-star {% elseif lightcone.rarity == "5-star" %}five-star {% elseif lightcone.rarity == "3-star" %}three-star{% endif %}">
        <div class="lc-basic-info">
            {% for icon in lightcone.icons|filter(icon => icon.role == 'Lc Splash art') %}
                <div class="lc-basic-info-splash-laptop">
                    <img src="/uploads/{{ icon.filename }}" alt="">
                    <div class="lc-path-rarity">
                        <div class="lc-path-div">
                            <img class="lc-path" src="/uploads/{{ lightcone.path.icon.filename }}" alt="">
                        </div>
                        <div class="lc-rarity-div">
                            {% if lightcone.rarity == '3-star' %}
                                <img class="lc-rarity" src="{{ asset('images/Icon_3_Stars.webp') }}" alt="icon for 3 star light cones">
                            {% elseif lightcone.rarity == '4-star' %}
                                <img class="lc-rarity" src="{{ asset('images/Icon_4_Stars.webp') }}" alt="icon for 4 star light cones">
                            {% elseif lightcone.rarity == '5-star' %}
                                <img class="lc-rarity" src="{{ asset('images/Icon_5_Stars.webp') }}" alt="icon for 3 star light cones">
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %} 
            <div class="lc-basic-info-text">
                <h1>{{ lightcone.name }}</h1>
                {% for icon in lightcone.icons|filter(icon => icon.imageRole == 'Lc Splash art') %}
                    <div class="lc-basic-info-splash-mobile">
                        <img src="/uploads/{{ icon.filename }}" alt="">
                        <div class="lc-path-rarity">
                        <div class="lc-path-div">
                            <img class="lc-path" src="/uploads/{{ lightcone.path.icon.filename }}" alt="">
                        </div>
                        <div class="lc-rarity-div">
                            {% if lightcone.rarity == '3-star' %}
                                <img class="lc-rarity" src="{{ asset('images/Icon_3_Stars.webp') }}" alt="icon for 3 star light cones">
                            {% elseif lightcone.rarity == '4-star' %}
                                <img class="lc-rarity" src="{{ asset('images/Icon_4_Stars.webp') }}" alt="icon for 4 star light cones">
                            {% elseif lightcone.rarity == '5-star' %}
                                <img class="lc-rarity" src="{{ asset('images/Icon_5_Stars.webp') }}" alt="icon for 3 star light cones">
                            {% endif %}
                        </div>
                    </div>
                    </div>
                {% endfor %} 
                <div class="lc-basic-info-base-stats">
                        <h2>Base stats</h2>
                        <div class="lc-base-stats"> 
                            <div class="lc-base-hp">
                                <p>HP</p>
                                <p class="lc-base-stat-value">{{ lightcone.baseHp }}</p>
                            </div>
                            <hr>
                            <div class="lc-base-atk">
                                <p>ATK</p>
                                <p class="lc-base-stat-value">{{ lightcone.baseAtk }}</p>
                            </div>
                            <hr>
                            <div class="lc-base-def">
                                <p>DEF</p>
                                <p class="lc-base-stat-value">{{ lightcone.baseDef }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="lc-story">{{ lightcone.story|raw }}</div>
                </div>
            </div>
            <div class="skill">
                <div class="skill-superimposition">
                    <h2>{{ lightcone.skillName }}</h2>
                    <nav>
                        <ul class="superimposition">
                            <li class="superimposition-toggle active" id="toggle-sone">S1</li>
                            <li class="superimposition-toggle" id="toggle-stwo">S2</li>
                            <li class="superimposition-toggle" id="toggle-sthree">S3</li>
                            <li class="superimposition-toggle" id="toggle-sfour">S4</li>
                            <li class="superimposition-toggle" id="toggle-sfive">S5</li>
                        </ul>
                    </nav>
                    <div class="lightcone-superimposition open" id="superimposition-one">{{ lightcone.superimpositionOne|raw }}</div>
                    <div class="lightcone-superimposition" id="superimposition-two">{{ lightcone.superimpositionTwo|raw }}</div>
                    <div class="lightcone-superimposition" id="superimposition-three">{{ lightcone.superimpositionThree|raw }}</div>
                    <div class="lightcone-superimposition" id="superimposition-four">{{ lightcone.superimpositionFour|raw }}</div>
                    <div class="lightcone-superimposition" id="superimposition-five">{{ lightcone.superimpositionFive|raw }}</div>
                </div>
            </div>
        </div>
    </div>

    <script>
        let toggleS1 = document.querySelector("#toggle-sone"),
            toggleS2 = document.querySelector("#toggle-stwo"),
            toggleS3 = document.querySelector("#toggle-sthree"),
            toggleS4 = document.querySelector("#toggle-sfour"),
            toggleS5 = document.querySelector("#toggle-sfive");
            
        let s1 = document.querySelector("#superimposition-one"),
            s2 = document.querySelector("#superimposition-two"),
            s3 = document.querySelector("#superimposition-three"),
            s4 = document.querySelector("#superimposition-four"),
            s5 = document.querySelector("#superimposition-five");


        toggleS1.addEventListener("click", () => {
            s1.classList.add("open");
            s2.classList.remove("open");
            s3.classList.remove("open");
            s4.classList.remove("open");
            s5.classList.remove("open");
            toggleS1.classList.add("active");
            toggleS2.classList.remove("active");
            toggleS3.classList.remove("active");
            toggleS4.classList.remove("active");
            toggleS5.classList.remove("active");
        })

        toggleS2.addEventListener("click", () => {
            s1.classList.remove("open");
            s2.classList.add("open");
            s3.classList.remove("open");
            s4.classList.remove("open");
            s5.classList.remove("open");
            toggleS1.classList.remove("active");
            toggleS2.classList.add("active");
            toggleS3.classList.remove("active");
            toggleS4.classList.remove("active");
            toggleS5.classList.remove("active");
        })

        toggleS3.addEventListener("click", () => {
            s1.classList.remove("open");
            s2.classList.remove("open");
            s3.classList.add("open");
            s4.classList.remove("open");
            s5.classList.remove("open");
            toggleS1.classList.remove("active");
            toggleS2.classList.remove("active");
            toggleS3.classList.add("active");
            toggleS4.classList.remove("active");
            toggleS5.classList.remove("active");
        })

        toggleS4.addEventListener("click", () => {
            s1.classList.remove("open");
            s2.classList.remove("open");
            s3.classList.remove("open");
            s4.classList.add("open");
            s5.classList.remove("open");
            toggleS1.classList.remove("active");
            toggleS2.classList.remove("active");
            toggleS3.classList.remove("active");
            toggleS4.classList.add("active");
            toggleS5.classList.remove("active");
        })

        toggleS5.addEventListener("click", () => {
            s1.classList.remove("open");
            s2.classList.remove("open");
            s3.classList.remove("open");
            s4.classList.remove("open");
            s5.classList.add("open");
            toggleS1.classList.remove("active");
            toggleS2.classList.remove("active");
            toggleS3.classList.remove("active");
            toggleS4.classList.remove("active");
            toggleS5.classList.add("active");
        })


    </script>
{% endblock %}