{% set character_show = path('character_show', { characterSlug: character.characterSlug }) %}

{% for icon in character.characterIcons|filter(icon => icon.imageRole == 'Character Icon') %} 
    <div class="item-character {% if character.characterRarity == "4-star" %}four-star {% else %}five-star{% endif %}">
        <a href="{{ character_show }}">
            {% if character.characterReleased == 0 and character.characterAnnounced == 1 %}
                <div class="upcoming">Upcoming in {{ character.characterReleaseVersion }}</div>
            {% endif %}
            {% if character.characterReleased == 1 and character.characterReleaseVersion == "3.0" %}
                <div class="new">New in {{ character.characterReleaseVersion }}</div>
            {% endif %}
            <img class="character-icon" src="/uploads/{{ icon.filename }}" alt="">
            <p>{{ character.characterName }}</p>
            <div class="character-path-type">
            <img class="character-path" src="/uploads/{{ character.characterPath.pathIcon.filename }}" alt="">
            <img class="character-type" src="/uploads/{{ character.characterType.typeIcon.filename }}" alt="">
        </div>
        </a>
    </div>
{% endfor %}