<header>
    <p>LOGO</p>
    <nav>
        <ul class="main-nav">
            <li class="main-nav-link">
                <a class="main-nav-link-text" href="/characters"><img class="main-nav-link-img" src="{{ asset('images/character.png') }}" alt=""></a></li>
            <li class="main-nav-link">
                <a class="main-nav-link-text" href="/light-cones"><img class="main-nav-link-img" src="{{ asset('images/Icon_Light_Cone.webp') }}" alt=""></a></li>
            <li class="main-nav-link">
                <a class="main-nav-link-text" href="#"><img class="main-nav-link-img" src="{{ asset('images/Icon_Relics.webp') }}" alt=""></a>
            </li>
            <li class="main-nav-link">
                <a class="main-nav-link-text" href="#"><img class="main-nav-link-img" src="{{ asset('images/Icon_Travel_Log.webp') }}" alt=""></a>
                <ul class="sub-nav">
                    <li class="sub-nav-link"><a href="#">Character inventory</a></li>
                    <li class="sub-nav-link"><a href="#">Light cone inventory</a></li>
                    <li class="sub-nav-link"><a href="/inventory">Material inventory</a></li>
                    <li class="sub-nav-link"><a href="/planner">Planner</a></li>
                </ul>
            </li>
            <li class="main-nav-link">
                <a class="main-nav-link-text" href="#"><img class="main-nav-link-img" src="{{ asset('images/Icon_Upgrade_Materials.webp') }}" alt=""></a>
                <ul class="sub-nav">
                    <li class="sub-nav-link"><a href="#">Normal mats</a></li>
                    <li class="sub-nav-link"><a href="#">Boss mats</a></li>
                    <li class="sub-nav-link"><a href="#">Weekly traces mats</a></li>
                    <li class="sub-nav-link"><a href="#">Calyx mats</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</header>