<header>
    <p>LOGO</p>
    <nav>
        <ul class="main-nav">
            <li class="main-nav-link">
                <img class="main-nav-link-img" src="{{ asset('images/character.png') }}" alt="">
                <a class="main-nav-link-text" href="/characters">Characters</a></li>
            <li class="main-nav-link">
                <img class="main-nav-link-img" src="{{ asset('images/Icon_Light_Cone.webp') }}" alt="">
                <a class="main-nav-link-text" href="/light-cones">Light cones</a></li>
            <li class="main-nav-link">
                <img class="main-nav-link-img" src="{{ asset('images/Icon_Relics.webp') }}" alt="">
                <a class="main-nav-link-text" href="#">Relics</a>
            </li>
            <li class="main-nav-link">
                <img class="main-nav-link-img" src="{{ asset('images/Icon_Travel_Log.webp') }}" alt="">
                <a class="main-nav-link-text" href="#">Planning tools</a>
                <ul class="sub-nav">
                    <li class="sub-nav-link"><a href="#">Character inventory</a></li>
                    <li class="sub-nav-link"><a href="#">Light cone inventory</a></li>
                    <li class="sub-nav-link"><a href="/inventory">Material inventory</a></li>
                    <li class="sub-nav-link"><a href="/planner">Planner</a></li>
                </ul>
            </li>
            <li class="main-nav-link">
                <img class="main-nav-link-img" src="{{ asset('images/Icon_Upgrade_Materials.webp') }}" alt="">
                <a class="main-nav-link-text" href="#">Materials</a>
                <ul class="sub-nav">
                    <li class="sub-nav-link">Normal mats</li>
                    <li class="sub-nav-link">Boss mats</li>
                    <li class="sub-nav-link">Weekly traces mats</li>
                    <li class="sub-nav-link">Calyx mats</li>
                </ul>
            </li>
        </ul>
    </nav>
</header>